<p class="article-title">

</p>

<h1>
    {{ article?.title }}
</h1>

<p class="article-creator">
    {{ article?.creator }}
</p>

<p class="article-date">
    {{ article?.pubDate }}
    <!-- ?.toLocaleDateString('en-US', {
    year: 'numeric', month: 'long', day: 'numeric'
    }) }} -->
</p>

<img [src]="article?.image_url" alt="" class="news-image">

<p class="article-content">
    {{ article?.content }}
</p>

<div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
    <p>{{ article?.description }}</p>
</div>