.hot-news-card {
    background-image: url('../../../assets/sponge.webp');
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;

    height: 100%;
    padding: 0 1rem;;
    display: flex;
    flex-direction: column-reverse;

    p {
        margin-bottom: 0.4rem;
        color: white;
        text-shadow:
            0.12em 0 black,
            0 0.12em black,
            -0.12em 0 black,
            0 -0.12em black;
        
        &.article-subtitle{
            font-size: 12px;
        }

        &.article-title{
            font-size: 19px;
        }
    }
}

:host {
    height: 100%;
}

.article-category span {
    font-size: 40px;
}