<div class="hot-news-card" [ngStyle]="{'background-image': 'url(' + article?.imageUrl + ')'}">

    
    <mat-chip-listbox aria-label="category" *ngIf="article?.categories && article?.categories!.length > 0">
        <mat-chip class="article-category" *ngFor="let category of article?.categories?.slice(0, 3)">
            {{ category}}
        </mat-chip>
    </mat-chip-listbox>

    <p class="article-subtitle">
        {{article?.creator}}
         • 
        {{article?.publishDate?.toLocaleDateString('en-US', { year: 'numeric', month: 'long',
        day: 'numeric' })}}
    </p>

    <p class="article-title">{{article?.title}}</p>
]</div>