@import '../../../app/styles/mixins';

:host {
    @include basic-flex();
    width: 100%;
    border-bottom: 1px solid rgb(223, 208, 200);
    padding-bottom: 0.7rem;
}

.news-image {
    img {
        margin: auto;
        width: 256px;
        height: 144px;
        object-fit: cover;
        margin-right: 1rem;
    }
}

p {
    &.article-date {
        color: grey;
        font-size: 12px;
        text-align: right;
    }

    &.article-title {
        a {
            font-weight: 900;
            font-size: 20px;
            color: rgba(188, 127, 14, 0.989);
        }
    }

    &.article-creator {
        font-weight: 600;
        font-size: 17px;
    }

    &.article-description {
        color: rgb(41, 36, 36);
        font-size: 16px;
    }
}