<div class="news-image">
    <img [src]="article?.image_url || '../../../assets/news-default-big.png'" alt="">
</div>

<div class="news-info">

    <p class="article-date">
        {{ article?.pubDate }}
        <!-- ?.toLocaleDateString('en-US', {
            year: 'numeric', month: 'long', day: 'numeric'
        }) }}           -->
    </p>

    <p class="article-title">
        <a routerLink="/detail/{{ article?.article_id}}">
            {{article?.title}}
        </a>
    </p>

    <p class="article-creator">
        {{article?.creator}}
    </p>

    <p class="article-description">
        {{article?.description}}
    </p>

    <mat-chip-listbox aria-label="category" *ngIf="article?.category && article?.category!.length > 0">
        <mat-chip class="article-category" *ngFor="let cat of article?.category?.slice(0, 3)">
            {{ cat}}
        </mat-chip>
    </mat-chip-listbox>
</div>