@mixin centered-container($width, $margin) {
    width: $width;
    margin: $margin auto;
}

@mixin clean-link() {
    color: black;
    text-decoration: none;
}

@mixin basic-flex() {
    display: flex;
    align-items: center;
}

@mixin fitting-image($max-w, $max-h) {
    max-width: $max-w;
    max-height: $max-h;
    width: auto;
    height: auto;
}